@model IEnumerable<fpReceitas.Core.Models.Noticia>
<ul class="noticias">
    @foreach (var item in Model)
    {
        <li>
            <a href="@item.Url">
                <img src="@item.Imagem" alt="@item.DescricaoImagem" />
                <span>
                    @item.Titulo
                </span>
            </a>
        </li>
    }
</ul>