@model fpReceitas.Web.Models.ViewModelBoleto

@{
    ViewData["Title"] = "Boletos";
}

<h1>Boletos</h1>

<h4>ViewModelBoleto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Boletos">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

            @for (int i = 0; i < Model.Boletos.Count; i++)
            {
                <input asp-for="Boletos[i].Remover" />
                <input asp-for="Boletos[i].Id" />
            }
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

