@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@await Component.InvokeAsync("Noticias", new { total = 3, noticiasUrgentes = false })

<vc:noticias total="4" noticias-urgentes="true">
</vc:noticias>

<email mail-to="rodolfo"></email>